<div style="text-align:center">
  <img alt="Food Chronicles Logo" src="<%= logo %>"/>
  <p>Thank you for using Food Chronicles</p>
  <p>Here are the key to update your product: </p>
  <p><span><b><%= key %></b></span></p>
  <img alt="Product QR" src="<%= qr %>"/>
  <p>Please use this <a href="<%= url  %>">link</a> if above qr code is not working</p>
</div>
