<div style="text-align:center">
  <img alt="Food Chronicles Logo" src="<%= logo %>"/>
  <p style="margin-bottom: 22px">Dear <%= user %>,</p>
  <p>Thank you for registering with Food Chronicles</p>
  <p>Please visit <a href="<%= url %>">this link</a> using your credentials to start using our service.</p>
  <p>If this is not you, please ignore this message.</p>
</div>
